.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
  
    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color:#042f5b;
      // background-color:#ff6f61;
      //  background-color:#8a2be2;
      //  background-color:#ffbf00;
      //  background-color:#0d9488;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      animation: bounce 2s infinite ease-in-out;
    }
  
    .double-bounce2 {
      animation-delay: -1s;
    }
  }
  
  @keyframes bounce {
    0%, 100% { transform: scale(0.0); }
    50% { transform: scale(1.0); }
  }
  