.listpage {
    display: flex;
    height: 100%;
 
    .listContainer {
       flex: 3;
       height: 100%;
 
       .wrapper {
          height: 100%;
          padding-right: 100px;
          display: flex;
          flex-direction: column;
          gap: 50px;
          overflow-y: scroll;
          scrollbar-width: thin;
          scroll-behavior: smooth;
          padding-bottom: 50px;
       }
    }
 
    .mapContainer {
       flex: 2;
       height: 100%;
       background-color: #fcf5f3;
       position: relative; // Ensure child centering works
 
       .spinnerWrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
       }
    }
 }
 